<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" #>
<#@ output extension=".txt" #>
<#@ XCXABGProyectoIPS processor="XCXABGProyectoIPSDirectiveProcessor" requires="fileName='Sample.XCXABG_DSLProyIPS'" #>

Generated material. Generating code in C#.

<#
  // When you change the DSL Definition, some of the code below may not work.

  foreach (ExampleElement element in this.ExampleModel.Elements)
  {
#>
	<#= element.Name #>
<#    
  }
#>
